[Desktop Entry]
Comment=A flat Design for KDE.
Name=Pij Light
X-KDE-PluginInfo-Author=Pij
X-KDE-PluginInfo-Category=Aurorae theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=pij@stundist.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Pij Light
X-KDE-PluginInfo-Version=1.0
